@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post" id="teslaForm">
        <p>
            <input type="submit" value="Tesla" onclick="openInNewTab()" />
        </p>
    </form>
</div>

<script type="text/javascript">
    function openInNewTab() {
        var form = document.getElementById('teslaForm');
        form.target = '_blank';
    }
</script>