@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post">
        <p>
            <input type="submit" value="Tesla" />
        </p>
    </form>
</div>
 